<html>
<head>
<title>Edit Restaurant</title>
</head>
<body>

<form action="/update?id=<%= r._id %>" method="post" encType="multipart/form-data">
	<h2>Create restaurant</h2>
	Name: <input type="text" name="name" value=<%= r.name %> required><br>
	Borough: <input type="text" name="borough" value=<%= r.borough %>><br>
	Cuisine: <input type="text" name="cuisine" value=<%= r.cuisine %>><br>
	<h2>Address: </h2>
	Street: <input type="text" name="street" value=<%= r.address.street %>><br>
	Building: <input type="text" name="building" value=<%= r.address.building %>><br>
	Zipcode: <input type="text" name="zipcode" value=<%= r.address.zipcode %>><br>
	<h2>Coordinates: </h2>
	Longitude: <input type="text" name="lon" value=<%= r.address.coord.lon %>><br>
	Latitude: <input type="text" name="lat" value=<%= r.address.coord.lat %>><br>
	Photo: <input type="file" name="photo"><br>
	<br>
	<input type="submit" value="Edit">
</form>

</body>
</html>
